<div class="boardRow" layout="row" >
  <div flex="25" class="board-name" layout="column" layout-align="center">

    <md-menu ng-if="!$ctrl.activeBoard">
      <md-button class="md-primary md-hue-3" aria-label="Open board selection menu" ng-click="$ctrl.openBoardMenu($mdOpenMenu, $event)">
        Add Board
        <ng-md-icon icon="add_circle_outline"></ng-md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item ng-repeat="board in $ctrl.boards">
          <md-button ng-click="$ctrl.setActiveBoard(board)">
            <span class="board-bg" style="background-color:{{board.prefs.backgroundColor}}"></span>
            {{board.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-card ng-if="$ctrl.activeBoard" md-theme="{{$ctrl.activeBoard.prefs.backgroundBrightness}}" style="background-color:{{$ctrl.activeBoard.prefs.backgroundColor}}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline md-body-3">{{$ctrl.activeBoard.name}}</span>
          <span class="md-subhead">
            <ng-md-icon icon="schedule" size="18"></ng-md-icon>11:34pm
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button">
          <ng-md-icon icon="mode_edit"></ng-md-icon>
        </md-button>
        <a href="{{$ctrl.activeBoard.url}}" target="_blank" class="md-button md-icon-button">
          <ng-md-icon icon="open_in_new"></ng-md-icon>
        </a>
      </md-card-actions>
    </md-card>
  </div>

  <list-col ng-if="$ctrl.activeBoard" flex board="$ctrl.activeBoard"></list-col>

</div>
